<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Budgets App</title>
  </head>
  <body>
    <h1><%=budget.name; %></h1>
    <h2>Date</h2>
    <h3><%=budget.date; %></h3>
    <h2>Name</h2>
    <h3><%=budget.name; %></h3>
    <h2>Amount</h2>
    <h3><%=budget.amount; %></h3>
    <h2>From</h2>
    <h3><%=budget.from; %></h3>

    <a href="/">Back to Home</a>
  </body>
</html>
